.flip-card-logo,
.flip-card-qa,
.flip-card-js {
    perspective: 1000px;
    background-color: #f0f0f0;
}
.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card-logo:hover .flip-card {
    transform: rotateY(180deg);
}

.flip-card-qa:hover .flip-card {
    transform: rotateY(-180deg);
}

.flip-card-java:hover .flip-card {
    transform: rotateY(-180deg);
}

.flip-card-php:hover .flip-card {
    transform: rotateY(-180deg);
}

.flip-card-net:hover .flip-card {
    transform: rotateY(-180deg);
}

.flip-card-events:hover .flip-card {
    transform: rotateY(-180deg);
}

.flip-card-blog:hover .flip-card {
    transform: rotateY(-180deg);
}

.flip-card-contacts:hover .flip-card {
    transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front-logo {
    background-color: #fff;
    color: #000;
}
.flip-card-back-logo {
    background-color: #fff;
    transform: rotateY(180deg);
}

.join-button {
    background-color: #3eadee;
    border-radius: 5px;
    color: white;
    padding: 12px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
}

.join-button:hover {
    background-color: #2045e6;
    cursor: pointer;
}

.flip-card-front img {
    width: 40%;
    height: 40%;
}

.flip-card-front-qa {
    background-color: #70bc7e;
    color: #fff;
    font-size: 7em;
}
.flip-card-back-qa {
    align-items: flex-start;
    background-color: #fff;
    color: #000;
    transform: rotateY(-180deg);
}

.flip-card-front-js {
    background-color: #f1d079;
    color: #000;
    font-size: 7em;
    font-weight: 900;
    justify-content: flex-end;
    align-items: flex-end;
}
.flip-card-back-js {
    background-color: #fff;
    color: #000;
    padding: 0 15px;
    align-items: flex-start;
    transform: rotateY(180deg);
}

.flip-card-front-java {
    background-color: #cf3e50;
    color: #fff;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}
.flip-card-back-java {
    align-items: flex-start;
    background-color: #fff;
    color: #000;
    transform: rotateY(180deg);
}

.flip-card-front-php {
    background-color: #8a93bc;
    color: #000;
    font-style: italic;
    font-size: 6em;
}
.flip-card-back-php {
    align-items: flex-start;
    background-color: #fff;
    color: #000;
    transform: rotateY(-180deg);
}

.flip-card-front-net {
    background-color: #5c2773;
    color: #fff;
    font-size: 7em;
}
.flip-card-back-net {
    align-items: flex-start;
    background-color: #fff;
    color: #000;
    transform: rotateY(-180deg);
}

.flip-card-front-events {
    background-color: #4d99f7;
    color: #fff;
    font-size: 1em;
}
.flip-card-back-events {
    background-color: #fff;
    color: #000;
    transform: rotateY(-180deg);
}

.flip-card-front-blog {
    background-color: #18449d;
    color: #fff;
    font-size: 1em;
}
.flip-card-back-blog {
    background-color: #fff;
    color: #000;
    transform: rotateY(-180deg);
}

.flip-card-front-contacts {
    background-color: #09265b;
    color: #fff;
    font-size: 1em;
}
.flip-card-back-contacts {
    background-color: #fff;
    color: #000;
    transform: rotateY(-180deg);
}

.flip-card-back p {
    text-align: start;
    margin: 1.2rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}

@media screen and (min-width: 780px) {
    .site {
        display: grid;
        grid-template-columns: 15em 1fr;
        grid-template-rows: 1fr minmax(1em, auto);
    }
}
