body {
    font-family: "Overpass", sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 12.5%;
    height: 60px;
    animation: 1s linear 0.5s drop-header;
    background: #fff;
    z-index: 10;
}

header img {
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

.fa-bell {
    color: lightgray;
}

.fa-bell:hover {
    color: gray;
    cursor: pointer;
}

.navigation {
    height: 40px;
    width: 40px;
    background-color: rgb(255, 182, 25);
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    padding-top: 8px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

input {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 17px;
    right: 247px;
    z-index: 1;
}

.navigation:hover {
    background-color: rgb(255, 166, 0);
}

.container {
    margin: 130px;
    display: grid;
    grid-template-columns: repeat(12, minmax(80px, 120px));
    grid-template-rows: repeat(8, minmax(55px, 80px));
    place-content: center;
    grid-auto-flow: dense;
}

.logo {
    grid-row: 1/5;
    grid-column: 1/4;
}

.js {
    grid-row: 1/7;
    grid-column: 4/7;
}

.php {
    grid-row: 1/4;
    grid-column: 7/13;
}

.qa {
    grid-row: 5/9;
    grid-column: 1/4;
}

.java {
    grid-row: 7/9;
    grid-column: 4/7;
}

.net {
    grid-row: 4/9;
    grid-column: 7/11;
}

.events {
    grid-row: 4/6;
    grid-column: 11/13;
}

.blog {
    grid-row: 6/8;
    grid-column: 11/13;
}

.contacts {
    grid-row: 8/9;
    grid-column: 11/13;
}

footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
}

@keyframes drop-header {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*https://codepen.io/arthurtw/pen/Vjpmwq?editors=1100*/
